<div class="container mt-5">
  <form class="col-md-12" #form="ngForm" (ngSubmit)="addToFta()">
    <div class="row mb-5">
      <div class="col-md-5">
        <label class="mb-1">Source of Cutting Down</label>
        <select name="channelKey" class="form-select" [(ngModel)]="fta.channelKey" required>
          <option *ngFor="let channel of channels" [value]="channel.channelKey">{{ channel.channelName }}</option>
        </select>
      </div>

      <div class="col-md-5 mx-3">
        <label class="mb-1">Problem Type of Cutting Down</label>
        <select name="cuttingDownProblemTypeKey" class="form-select" [(ngModel)]="fta.cuttingDownProblemTypeKey" required>
          <option *ngFor="let type of problemTypes" [value]="type.problemTypeKey">{{ type.problemTypeName }}</option>
        </select>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-5">
        <label class="mb-1">Network Hierarchy</label>
        <select name="hierarchyPathKey" class="form-select" [(ngModel)]="fta.hierarchyPathKey" required>
          <option *ngFor="let type of pthTypes" [value]="type.networkElementHierarchyPathKey">
            {{ type.abbreviation }}</option>
        </select>
      </div>

      <div class="col-md-5 mx-3">
        <label class="mb-1">Start Date</label>
        <input name="actualCreateDate" type="date" class="form-control" [(ngModel)]="fta.actualCreateDate" required>
      </div>
    </div>
    <button routerLink="/master" [queryParams]="{tab:0}" (reset)="addToFta()"
    [disabled]="form.invalid" type="submit" class="btn btn-primary mt-5">Add</button>
  </form>

  <app-advanced-search (SelectedKeysOutput)="setAffectedKeys($event)"></app-advanced-search>

</div>
